---
layout: markdown_page
title: Defend Section
---

## On this page
{:.no_toc}

- TOC
{:toc}

## Vision

For more details about the vision for this area of the product, see the [Defend stage](/stages-devops-lifecycle/defend/) page.

## Mission

The Defend team works on GitLab's [Defend stage](/stages-devops-lifecycle/defend/).

[Secure stage]: /stages-devops-lifecycle/defend/

## Team Members

The following people are permanent members of the Defend Section:

<%= direct_team(manager_role: 'Director of Engineering, Defend') %>

## Stable Counterparts

The following members of other functional teams are our stable counterparts:

<%= stable_counterparts(role_regexp: /[,&] Secure/, direct_manager_role: nil, other_manager_roles: ['Engineering Manager, Secure:Static Analysis', 'Engineering Manager, Secure:Dynamic Analysis', 'Interim Engineering Manager, Secure:Composition Analysis', 'Interim Frontend Engineering Manager, Secure', 'Director of Engineering, Defend']) %>

## Defend Team

The Defend Team is responsible for defending apps and infrastructure from security intrusions.  The team maps to the [defend](/handbook/product/categories/#defend) transversal page. You can learn more about our approach on the [Defend Vision](/direction/defend/) page.


<%= partial("direction/categories", :locals => { :stageKey => "defend" }) %>

## Label Usage

_TBD_

## Release process

Our release process is specified in this [project](https://gitlab.com/gitlab-org/security-products/release). The vulnerability database is [updated on a regular basis](https://docs.gitlab.com/ee/user/application_security/#maintenance-and-update-of-the-vulnerabilities-database).

## Skills

Because we have a wide range of domains to cover, it requires a lot of different expertises and skills:

| Technology skills | Areas of interest         |
| ------------------|---------------------------|
| Ruby on Rails     | Backend development       |
| SQL (PostgreSQL)  | _Various_                 |
| Docker            | Container Scanning / all  |
| Kubernetes        | WAF, etc.                 |
| Network Security  | WAF, etc.                 |
| Host Security     | _Various_                 |


## Engineering Rhythm

_TBD_

## Product Documentation

## Common Links

  * [#s_defend](https://gitlab.slack.com/archives/s_defend) in Slack
  * [Defend team board](https://gitlab.com/groups/gitlab-org/-/boards/1241267?scope=all&utf8=%E2%9C%93&state=opened&label_name[]=devops%3A%3Adefend)

## How to work with us

_TBD_